.bundle
log/*.log
/tmp/
/resource/
/public/uploads/
/db/production.sqlite3
/Gemfile.lock
#2.3#
2.3
config.ru
Notes
true,
webrat.log
.rspec
.Notes.kate-swp
.DS_Store
/app/passenger.80.log
/app/passenger.80.pid.lock
/app/models/.user.rb.kate-swp
/app/models/.file_sharing_relationships.rb.kate-swp
/app/models/passenger.80.pid.lock
/app/models/passenger.80.log
/app/views/sessions/.new_sess.html.erb.kate-swp
/app/views/shared/._mini_upload_widget.html.erb.kate-swp
/config/fog_credentials.yml
/db/development.sqlite3
/db/test.sqlite3
/db/uploadsTable
/public/bookmarklet.html
/public/index_arc.html
/public/favicon.ico
/public/baz.js
/public/baz_arc.js
/public/stylesheets/TUTORIAL.textile
/public/stylesheets/README.textile
/script/authorized_keys
/spec/.DS_Store
/spec/controllers/.relationships_controller_spec.rb.kate-swp
/spec/support/carrierwave_fog_mocking.rb~

