<table class="profile">
  <tr>
    <td class="main">
      <h1>Teachers: Store and share your resources: no more memory sticks!</h1>	
		<p>
		Intray lets you access your lesson plans and resources from anywhere! `Upload your files and keep them in one place. Share them with your colleagues. Sign up now!
		</p>
    </td>

    <td class="sidebar round">
			<h1>New to Intray? Join today!!</h1>
			<div id="signupform">
				<%= form_for(@user) do |f| %>
				<%= render 'users/fields', :f => f %>
					<div class="actions bigbutton">
						<%= f.submit "Sign up" %>
					</div>
				<% end %>
			</div>
    </td>
  </tr>
</table>

<script type="text/javascript">
$(document).ready(function(){
  $(":text").labelify();
});
</script>