<li>
  <%= link_to user.name, user %>
  <div id="follow_form_#{id}">
` <% @user_to_follow = user %>
    <% unless current_user?(@user_to_follow) %>
    <% if current_user.following?(@user_to_follow) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  <% end %>
  </div>
  <% if current_user.admin? %>
    | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
				  :title => "Delete #{user.name}" %>
    <% end %>
</li>
