	<div id="function_links_resources" class="round blue_coloured_element">
		<%= link_to "Your files", yourfiles_path %>
		<%= link_to "Files shared with you", sharedfiles_path %>
		<%= link_to "Your links", yourlinks_path %>
		<%= link_to "Links shared with you", sharedlinks_path %>
	</div>