<div id="search_widget" class="round coloured_element side_widgets_small">
  <% form_tag root_path, :method => 'get' do %>
    <div class="input_wrapper search_element"><%= text_field_tag :search, params[:search], :id => "search_box", :class => "search_element", :title => "..search files/links" %></div>
    <div class="actions bigbutton search_element" id="search_button">
  <%= submit_tag "Search resources", :name => nil, :id => "search_button", :class => "search_element" %>
    </div>
  <% end %>
</div>
