<script type="text/javascript" charset="utf-8"> 
   $(function () {
  $('.upload').fileUploadUI({
        uploadTable: $('.upload_files'),
        downloadTable: $('.download_files'),
        buildUploadRow: function (files, show) {
            var file = files[index];
            return $('<tr><td>' + file.name + '<\/td>' +
                    '<td class="file_upload_progress"><div><\/div><\/td>' +
                    '<td class="file_upload_cancel">' +
                    '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                    '<\/button><\/td><\/tr>');
        },
        buildDownloadRow: function (file) {
            return $('<tr><td><img alt="Photo" width="40" height="40" src="' + '">' + file.name + '<\/td><\/tr>');
        },
    });
});
</script>

<%= form_for @upload, :html => { :multipart => true } do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

		<%= f.file_field :uploaded %>
		<%= f.submit "Upload" %>
		<div>Upload files</div>
<% end %>

<table class="upload_files"></table>
<table class="download_files"></table>
</div>
