<div class="centred" id="about">
	<p>Intray.me lets you upload and store your files and then share them with your colleagues.</p>
	<p>In a school?<br>
	Want to share resources without using USB sticks or emails?<br>
	Sharing your files takes two clicks of a mouse.</p>
	<p class="tag_line"><%= link_to "Give it a go today!", root_path %></p>
</div>